<!-- show the card front and back -->
<% if @card %>
<div><%= @card.front %></div>
<br>
<button id="show-answer">Show Answer</button>
<div class="hidden to-show"><%= @card.back %></div>
<!-- Here I should probabaly write my own forms for the post action. -->
<div class="hidden to-show">
<%= button_to "Again", {action: "poll"}, params: {'card_id' => "#{@card.id}", 'state' => 'AGAIN'} %>
<%= button_to "Good", {action: "poll"}, params: {'card_id' => "#{@card.id}", 'state' => 'GOOD'} %>
<%= button_to "Easy", {action: "poll"}, params: {'card_id' => "#{@card.id}", 'state' => 'EASY'} %>
</div>
<%= poll_deck_path 1 %>
<%= poll_deck_path 'name', 'title', 'param2' %>
<br>
<%= @method %>
<!-- Make two buttons here for next -->
<% else %>
you finished learning all the cards.
<% end %>

<script>
$("#show-answer").click(function (evt) {
	$(".to-show").removeClass("hidden");
	$(this).addClass("hidden");
});
</script>