<%= @deck.name %>
<ul>
  <% @cards.each do |card| %>
    <li><%= card.front %><br><%= card.back %></li>
  <% end %>
</ul>
again cards<br>
<ul>
  <% @again_cards.each do |card| %>
  	<li><%= card.front %><br><%= card.back%></li>
  <% end %>
</ul>
